@inherits LayoutComponentBase


    
<div class="page" style="background-color: var(--neutral-fill-layer-rest);height: 100%;">
    <div class="topbar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            <ErrorBoundary>
                @Body
            </ErrorBoundary>
        </article>
    </main>
</div>
    

