.page {
    padding: 12px;
    color: var(--neutral-foreground-rest);
    background-color: var(--neutral-fill-layer-rest);
    min-height: 100vh;
}

.brand-logo {
    margin-left: 10px;
    width: 36px;
}

.brand-name {
    font-weight: 700;
    text-decoration: none;
    font-size: 36px;
    margin-left: 10px;
    margin-top: 10px;
}

.main-menu {
    order: 1;
    min-width: 100px;
}

.topbar {
    display: flex;
    justify-content: space-between;
}
  
.brand {
    display: flex;
    justify-content: space-between;
    order: 2;
}
  
.content {
    margin: 8px;
}
