@inherits LayoutComponentBase


<div class="page">
    <div class="topbar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            <ErrorBoundary>
                @Body
            </ErrorBoundary>
        </article>
    </main>
</div>

