@inherits LayoutComponentBase
@inject NavigationManager Navigation


@namespace BlazorSite
    
 <div class="page">
    <div class="topbar">
        <div class="main-menu">
            <NavMenu @bind-Expanded="@expandedMenu">
                <NavMenuLink Text="PromiPay" Href="/pay" />
                <NavMenuLink Text="PromiMart" Href="/mart"/>
                <NavMenuLink Text="Settings"  Href="/dash"/>
                <NavMenuLink Text="Help" Href="/pay" />
                <NavMenuLink Text="Our Team" Href="/mart" />
                <NavMenuLink Text="Our Misson" Href="/dash" />
                <NavMenuLink Text="Join Us!" Href="/pay" />
            </NavMenu>
        </div>
        <div class="brand">
            <a href="/"><img title="YouCent Logo" class="brand-logo" src="/img/logo-white-small.png" /></a>
            <a class="brand-name" href="/">YouCent</a>
        </div>
    </div>

    <main>
        <article class="content">
            <ErrorBoundary>
                @Body
            </ErrorBoundary>
        </article>
    </main>
</div>


    
@code
{

    bool expandedMenu = false;

    @* void OnMenuLinkClick(MouseEventArgs e)
    {
        
    } *@
}
