.page {
    padding: 5%;
    color: var(--neutral-foreground-rest);
    background-color: var(--neutral-fill-layer-rest);
    min-height: 100vh;
}

.brand-logo {
    display: inline-block;
    margin: 4px;
    width: 36px;
}

.brand-name {
    display: inline-block;
    position: relative;
    bottom: 8px;
    font-weight: 700;
    text-decoration: none;
    font-size: 36px;
}




