@namespace BlazorSite.Shared
@inherits LayoutComponentBase


    
 <div class="page">
    <div class="topbar">
        <div class="main-menu">
            <NavMenu>
                <NavMenuLink Text="PromiPay " @onclick="OnClick" />
                <NavMenuLink Text="PromiMart " @onclick="OnClick" />
                <NavMenuLink Text="Settings " @onclick="OnClick" />
                <NavMenuLink Text="Help " @onclick="OnClick" />
                <NavMenuLink Text="Our Team " @onclick="OnClick" />
                <NavMenuLink Text="Our Misson " @onclick="OnClick" />
                <NavMenuLink Text="Join Us! " @onclick="OnClick" />
            </NavMenu>
        </div>
        <div class="brand">
            <a href=""><img title="YouCent Logo" class="brand-logo" src="/img/logo-white-small.png" /></a>
            <a class="brand-name" href="">YouCent</a>
        </div>
    </div>

    <main>
        <article class="content">
            <ErrorBoundary>
                @Body
            </ErrorBoundary>
        </article>
    </main>
</div>


    
@code
{

    void OnClick(MouseEventArgs e)
    {
        
    }

    protected override void OnAfterRender(bool firstRender) {
        if (firstRender) 
        {
            
        }
        base.OnAfterRender(firstRender);
    }
}
