.navbar-toggler {
    background-color: #3AAA35;
    margin-right: 1rem;
    font-size: 1.2rem;
    border-color: rgba(255,255,255,0.8);
}



.top-row {
    color: white;
    height: 4rem;
    background-color: #3AAA35;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

    .navbar-brand .brand-name {
        display: inline-block;
        margin-top: 5%;
        font-weight: 700;
    }

    .navbar-brand .brand-logo {
        display: inline-block;
        width: 16%;
        margin-bottom: 6%;
        margin-right: 3%;
    }


.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: #95C11F;
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: #95C11F;
            color: white;
        }






