@page "/counter"
<PageTitle>YouCent PromiseMart</PageTitle>
<CounterView></CounterView>

<div>
    <br><br>
    <FluentButton Appearance="@Appearance.Accent" @onclick="TurnLightsOn">Turn Lights On</FluentButton>
</div>

<div>
    <br><br>
    <FluentButton Appearance="@Appearance.Accent" @onclick="DimLights">Dim Lights</FluentButton>
</div>

<p>
<br>
</p>

<FluentCard>
    
    <p>Light Level = @(Math.Round(lightLevel, 2))</p>
</FluentCard>


@code {
    
    [CascadingParameter]
    public App? App { get; set; }

    private float lightLevel = 0;

    private void TurnLightsOn()
    {
        App!.BaseLayerLuminance.SetValueFor(App.MainDesign!.Element, lightLevel += 0.05f);
        if (lightLevel > 1) lightLevel = 1;
    }


    private void DimLights()
    {
        App!.BaseLayerLuminance.SetValueFor(App.MainDesign!.Element, lightLevel -= 0.05f);
        if (lightLevel < 0) lightLevel = 0;
    }
}