@page "/"
<PageTitle>YouCent Main Page</PageTitle>
<HelloView></HelloView>
<p>232</p><p>232</p><p>232</p><p>232</p>
<FluentCard>
  <h2>Hello World!</h2>
  <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>
<p>232</p><p>232</p>
<p>232</p><p>232</p>
<FluentCard>
  <h2>Hello World!</h2>
  <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>


<p>232</p><p>232</p>
<FluentCard>
  <h2>Hello World!</h2>
  <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>
<p>232</p><p>232</p>
<FluentCard>
  <h2>Hello World!</h2>
  <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>



<p>232</p><p>232</p><p>232</p><p>232</p><p>232</p><p>232</p><p>232</p><p>232</p><p>232</p>
<p>232</p><p>232</p>
<p>232</p><p>232</p><p>232</p><p>232</p><p>232</p><p>232</p>
<p>232</p><p>232</p><p>232</p><p>232</p><p>232</p><p>232</p><p>232</p><p>232</p>


