@page "/"
<PageTitle>YouCent Dashboard</PageTitle>
<HelloView></HelloView>


<FluentCard>
  <h2>Hello FluentUI World!</h2>
  <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>


