.page {
    padding: 12px;
    color: var(--neutral-foreground-rest);
    background-color: var(--neutral-fill-layer-rest);
    min-height: 100vh;
}

.brand-box {
    margin: auto;
}

.brand-logo {
    width: 36px;
    vertical-align: middle;
}

.brand-name {
    display: inline-block;
    vertical-align: middle;
    font-weight: 800;
    font-size: 40px;
    margin-left: 5px;
}

  
.content {
    margin: 5px;
}

