@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />1
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About!!</a>2
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>3
</div>

